{% extends 'templates/default.html.twig' %}

{% block content %}
<div id="Article" class="container">
    <h2>Episode N° {{ article.id }}</h2>
    <h1> {{ article.titre }}</h1>
    <img src="/images/spera.png"/>
    <p>{{ article.contenu }}</p>
</div>

<div id="zonCom" class="container-fluid row">
    <h1><i class="fa fa-commenting" aria-hidden="true"></i></h1>
    <h1>Zon'Coms</h1>
    <img src="/images/spera.png"/>
</div>
<section id="Com" class="container">
    <div class="col-md-7">
        <div class="boxCom">
            <h4 class="pseudo">Par : Luc</h4>
            <div class="lastcom">
                <p class="dateCom">publié le 4/03/17</p>
                <p class="commentaire">Try, we have a crate to deliver. I've got to find a way to escape the horrible
                    ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours.</p>
            </div>
            <button type="submit" name="repondre" class="btn btn-repondre show">Répondre</button>
        </div>
        <div class="boxCom">
            <h4 class="pseudo">Par : Anne</h4>
            <div class="lastcom">
                <p class="dateCom">publié le 20/02/17</p>
                <p class="commentaire">Try, we have a crate to deliver. I've got to find a way to escape the horrible
                    ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours.</p>
            </div>
            <button type="submit" name="repondre" class="btn btn-repondre show">Répondre</button>
            <div class="formComRep" style="display: none">
                <h3>Répondre à Luc</h3>
                <br>
                <form action="../pages/comment-post.php?id=6" method="post" class="formulaire">
                    <div class="form-group">
                        <label for="pseudo">Pseudo :</label>
                        <input type="text" class="form-control" name="pseudo" placeholder="Yvan">
                    </div>
                    <div class="form-group">
                        <label for="commentaire">Votre commentaire</label>
                        <textarea name="commentaire" placeholder="Tu as raison c'est super !" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-4">
        <div id="formCom">
            <h3>Laissez un commentaire</h3>
            <br>
            <form action="../pages/comment-post.php?id=6" method="post" class="formulaire">
                <div class="form-group">
                    <label for="pseudo">Pseudo :</label>
                    <input type="text" class="form-control" name="pseudo" placeholder="Jean">
                </div>
                <div class="form-group">
                    <label for="commentaire">Votre commentaire</label>
                    <textarea name="commentaire" placeholder="Super cet épisode !" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Ajouter</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}