{% extends 'templates/default.html.twig' %}
{% block content %}
<div id="form_connect" class="container">
    {% if error %}
    <?php if($errors): ?>

    <div class="alert alert-danger">
        Identifiants incorrects
    </div>

    {% endif %}

    {# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

    <h3>Formulaire d'annonce</h3>

    <div class="well">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
